In [6]:
APP_NAME = 'pyspark_python'
MASTER = 'local[*]'
from pyspark import SparkConf
from pyspark.sql import SparkSession


conf = SparkConf().setAppName(APP_NAME)
conf = conf.setMaster(MASTER)
spark = SparkSession.builder.config(conf = conf).getOrCreate()
sc = spark.sparkContext

In [7]:
# python functions
import pandas as pd

In [16]:
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [56]:
data1 = {'PassengerId': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
         'Name': {0: 'Owen', 1: 'Florence', 2: 'Laina', 3: 'Lily', 4: 'William'},
         'Sex': {0: 'male', 1: 'female', 2: 'female', 3: 'female', 4: 'male'},
         'Survived': {0: 0, 1: 1, 2: 1, 3: 1, 4: 0},
         'Age': {0: None, 1: 38, 2: 26, 3: 35, 4: 35},
         'Fare': {0: 7.3, 1: 71.3, 2: 7.9, 3: 53.1, 4: 8.0},
         'Pclass': {0: 3, 1: 1, 2: 3, 3: 1, 4: 3},
         'PassengerId2': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
         'Name2': {0: 'Owen', 1: 'Florence', 2: 'Laina', 3: 'Lily', 4: 'William'},
         'Sex2': {0: 'male', 1: 'female', 2: 'female', 3: 'female', 4: 'male'},
         'Survived2': {0: 0, 1: 1, 2: 1, 3: 1, 4: 0},
         'Age2': {0: 22, 1: 38, 2: 26, 3: 35, 4: 35},
         'Fare2': {0: 7.3, 1: 71.3, 2: 7.9, 3: 53.1, 4: 8.0},
         'Pclass2': {0: 3, 1: 1, 2: 3, 3: 1, 4: 3},
         'Pclass3': {0: 3, 1: 1, 2: 3, 3: 1, 4: 3},
         'Pclass4': {0: 3, 1: 1, 2: 3, 3: 1, 4: 3}
            }
df1_pd = pd.DataFrame(data1, columns=data1.keys())
data1 = spark.createDataFrame(df1_pd)

In [57]:
print(data1.count(), len(data1.columns))

5 16

In [58]:
@property
def shape(self):
    return (self.count(), len(self.columns))

In [69]:
data1.show()

+-----------+--------+------+--------+----+----+------+------------+--------+------+---------+----+-----+-------+-------+-------+
|PassengerId|    Name|   Sex|Survived| Age|Fare|Pclass|PassengerId2|   Name2|  Sex2|Survived2|Age2|Fare2|Pclass2|Pclass3|Pclass4|
+-----------+--------+------+--------+----+----+------+------------+--------+------+---------+----+-----+-------+-------+-------+
|          1|    Owen|  male|       0| NaN| 7.3|     3|           1|    Owen|  male|        0|  22|  7.3|      3|      3|      3|
|          2|Florence|female|       1|38.0|71.3|     1|           2|Florence|female|        1|  38| 71.3|      1|      1|      1|
|          3|   Laina|female|       1|26.0| 7.9|     3|           3|   Laina|female|        1|  26|  7.9|      3|      3|      3|
|          4|    Lily|female|       1|35.0|53.1|     1|           4|    Lily|female|        1|  35| 53.1|      1|      1|      1|
|          5| William|  male|       0|35.0| 8.0|     3|           5| William|  male|        0|  35|  8.0|      3|      3|      3|
+-----------+--------+------+--------+----+----+------+------------+--------+------+---------+----+-----+-------+-------+-------+

Machine Learning with PySpark With Natural Language Processing and Recommender Systems
UDF's, page 37

In [60]:
'''
write_uri= ' /home/jovyan/work/df_csv ' 
df.coalesce(1).write.format("csv"). option("header","true").save(write_uri                                                             
                                                                 
parquet_uri='/home/jovyan/work/df_parquet'
df.write.format('parquet').save(parquet_uri)
'''

SyntaxError: invalid syntax (<ipython-input-60-853306ec0c1e>, line 5)

### VectorAssembler

In [75]:
#import vectorassembler to create dense vectors
from pyspark.ml.linalg import Vector
from pyspark.ml.feature import VectorAssembler
#create the vector assembler 
#handleInvalid = "skip"/keep
vec_assmebler = VectorAssembler(inputCols=['PassengerId', 'Age'],
                                outputCol='features', handleInvalid = "keep")
type(vec_assmebler)

pyspark.ml.feature.VectorAssembler

In [76]:
#transform the values
features_df=vec_assmebler.transform(data1)

In [77]:
#validate the presence of dense vectors 
features_df.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Age: double (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- PassengerId2: long (nullable = true)
 |-- Name2: string (nullable = true)
 |-- Sex2: string (nullable = true)
 |-- Survived2: long (nullable = true)
 |-- Age2: long (nullable = true)
 |-- Fare2: double (nullable = true)
 |-- Pclass2: long (nullable = true)
 |-- Pclass3: long (nullable = true)
 |-- Pclass4: long (nullable = true)
 |-- features: vector (nullable = true)

In [78]:
features_df.select('PassengerId', 'Age', 'features').show()

+-----------+----+----------+
|PassengerId| Age|  features|
+-----------+----+----------+
|          1| NaN| [1.0,NaN]|
|          2|38.0|[2.0,38.0]|
|          3|26.0|[3.0,26.0]|
|          4|35.0|[4.0,35.0]|
|          5|35.0|[5.0,35.0]|
+-----------+----+----------+

In [74]:
type(features_df)

pyspark.sql.dataframe.DataFrame